@import "tailwindcss";
/* 
.myDiv {
  background: #f00;
}

.lambi {
  width: 200px;
}
.unchi {
  height: 200px;
}
.rang {
  background: orange;
}
.dusraRang {
  background: red;
} */

/* .bg-amber-500{
    background: orange;
} */
 /* .w-60{
    width: 300px;
 } */